<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Matrículas</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
<h2 class="mb-4">Matrículas</h2>
<table class="table table-striped">
<thead>
<tr>
<th>Pessoa</th>
<th>Curso</th>
<th>Instituição</th>
<th>Data Início</th>
<th>Previsão Término</th>
</tr>
</thead>
<tbody>
{% for matricula in matriculas %}
<tr>
<td>{{ matricula.pessoa }}</td>
<td>{{ matricula.curso }}</td>
<td>{{ matricula.instituicao }}</td>
<td>{{ matricula.data_inicio }}</td>
<td>{{ matricula.data_previsao_termino }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>